---
import Section from "../Section.astro";

const { basics } = Astro.props;
const { description } = basics;
---

<Section title="About">
  <p class="text-balance! text-start! text-xl! indent-8">
    {description}
  </p>
</Section>
