---
import Section from "@/components/Section.astro"
import ExperienceItem from "@/components/experience/ExperienceItem.astro"
import { db, eq, experience, desc } from "astro:db";

interface Props {
  className?: string
}
const {
  className
} = Astro.props

const exp = await db.select().from(experience).where(eq(experience.user_id, 1)).orderBy(desc(experience.start_date));
---
<Section className={className} title="Experience">
  <ul class="flex flex-col">
    {exp.map((item) => (
      <ExperienceItem {...item} />
    ))}
  </ul>
</Section>
<script defer is:inline src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer  is:inline src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
