---
import "@/styles/global.css";
import { auth } from "@/lib/auth.ts";
import UserAvatar from "@/components/UserAvatar.astro";

const user = async () => {
  if (Astro.locals.user) {
    return Astro.locals.user;
  }
  const { user } = await auth.api.getSession({
    headers: Astro.request.headers,
  });
  if (user) {
    return user;
  }
  // Redirect to login page if the user is not authenticated
  //       return Astro.redirect("/login");
  return null;
};

const currentUser = await user();
---

<div class="p-6">
  {
    currentUser ? (
      <UserAvatar user={currentUser} class="justify-end" />
    ) : (
      <div class="text-center">
        <a href="/login" class="text-fg-link hover:underline">
          Sign in
        </a>
      </div>
    )
  }
</div>
