---
const { url, text, Icon } = Astro.props;
---
<a class="inline-flex size-8 items-center justify-center rounded-md p-1 transition-all
  duration-500 ease-linear text-hue hover:bg-bg-button-accent hover:text-fg-inverted"
   href={url} title={text} target="_blank" rel="noopener noreferrer"><Icon /></a>
